/* COLOR VARIABLES */
$primary-color: #2d3134;
$primary-color-opacity: #3236439b;
$secondary-color: #f0f1f4;
$tertiary-color: #51b0d2;

$font-color: #e2e6eb;
$font-color-secondary: #4c4c4c;

/* VARIABLES */
$border-radius: 7px;
$anim-duration: 0.25s;
$nav-height: 3rem;

/* BREAKPOINTS */
$device-L: 1440px;
$device-M: 1024px;
$device-S: 720px;
$device-XS: 480px;
