/* COLOR VARIABLES */
$primary-color: #2d3134;
$primary-color-opacity: #3236439b;
$secondary-color: #e0e2e8;
$tertiary-color: #51b0d2;

$font-color: #f3f4f6;
$font-color-secondary: #403f3f;

/* VARIABLES */
$border-radius: 7px;
$anim-duration: 0.25s;
$nav-height: 3rem;

/* BREAKPOINTS */
$device-L: 1440px;
$device-M: 1024px;
$device-S: 720px;
$device-XS: 480px;
