/* COLOR VARIABLES */
/* VARIABLES */
/* BREAKPOINTS */
*,
:after,
::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f0f1f4;
}

::-webkit-scrollbar-thumb {
  background: #7b7a7a;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #7f8081;
  color: #e2e6eb;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  position: relative;
  color: #51b0d2;
  cursor: pointer;
  text-decoration: none;
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  inset: auto auto 0 0;
  background: currentColor;
  visibility: hidden;
  border-radius: 7px;
  transform: scaleX(0);
  transition: 0.25s linear;
}
a:hover, a:focus {
  outline: none;
}
a:hover:before, a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

nav {
  height: 3rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: #2d3134;
  font-size: clamp(0.75rem, 3vw, 1.5rem);
  padding: 0.5rem 1em;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
nav .hamburger {
  height: 24px;
  width: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: none;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin: 0;
  align-self: center;
  z-index: 2;
}
@media screen and (max-width: 720px) {
  nav .hamburger {
    display: block;
  }
}
nav .hamburger span {
  height: 4px;
  width: 100%;
  display: block;
  position: absolute;
  background: #e2e6eb;
  border-radius: 7px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
nav .hamburger span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
nav .hamburger span:nth-child(2) {
  top: 10px;
  transform-origin: left center;
}
nav .hamburger span:nth-child(3) {
  top: 20px;
  transform-origin: left center;
}
nav .hamburger.open span:nth-child(1) {
  transform: rotate(39deg);
  top: 0px;
  left: 1px;
}
nav .hamburger.open span:nth-child(2) {
  height: 0;
  width: 0;
  opacity: 0;
}
nav .hamburger.open span:nth-child(3) {
  transform: rotate(-39deg);
  top: 20px;
  left: 1px;
}
nav .links {
  display: flex;
  align-items: center;
  gap: 1em;
}
nav .links a {
  color: #e2e6eb;
}
@media screen and (max-width: 720px) {
  nav .links {
    height: 100vh;
    width: 0;
    position: absolute;
    top: 3rem;
    right: 0;
    flex-direction: column;
    background-color: #2d3134;
    transition: all 0.25s;
  }
  nav .links a {
    font-size: 32px;
    font-weight: 500;
    display: none !important;
    white-space: nowrap;
  }
}
nav .links.open {
  width: 100vw;
}
nav .links.open a {
  display: flex !important;
}

main {
  margin-top: 3rem;
  overflow: hidden;
}
main h2 {
  font-size: clamp(1.2rem, 3vw, 2rem);
  margin: 0 0 0.5em 0;
  text-align: center;
  font-weight: 800;
}
main section {
  padding: 2.5rem 10vw;
}
main section:nth-child(2n) {
  background-color: #2d3134;
}
main section:nth-child(3n) {
  background-color: #f0f1f4;
  color: #4c4c4c;
}
main #about {
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
}
main #about .container {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 480px) {
  main #about .container {
    display: grid;
    place-items: center;
    gap: 0;
  }
}
main #about .container img {
  position: relative;
  height: 50vh;
  aspect-ratio: 3/4;
  border-radius: 7px;
}
@media screen and (max-width: 480px) {
  main #about .container img {
    height: 25vh;
  }
}
main #about .container p {
  font-size: clamp(0.75rem, 2vw, 1.5rem);
  text-align: justify;
}
main #portfolio .portfolio_cards {
  display: flex;
  justify-content: center;
  gap: 2rem 3rem;
}
@media screen and (max-width: 720px) {
  main #portfolio .portfolio_cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  main #portfolio .portfolio_cards {
    gap: 0.75rem;
  }
}
main #portfolio .portfolio_cards .portfolio_card {
  flex: 1;
  display: grid;
  grid-template-areas: "header header" "desc icon" "link link";
  gap: 0.75rem 2rem;
  padding: 0.75rem;
  background-color: #2d3134;
  border: 2px solid #e2e6eb;
  border-radius: 7px;
}
main #portfolio .portfolio_cards .portfolio_card .portfolio_card_header {
  grid-area: header;
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.25rem;
  font-weight: bold;
}
main #portfolio .portfolio_cards .portfolio_card .portfolio_card_desc {
  grid-area: desc;
  max-height: 10rem;
  margin: 0;
  font-style: italic;
  overflow-y: auto;
}
main #portfolio .portfolio_cards .portfolio_card .portfolio_card_icon {
  --padding: 5px;
  grid-area: icon;
  height: calc(3em + var(--padding));
  width: calc(3em + var(--padding));
  padding: var(--padding);
  margin-left: auto;
  border: 2px solid #e2e6eb;
  border-radius: 50%;
}
main #portfolio .portfolio_cards .portfolio_card .portfolio_card_icon img {
  width: 100%;
}
main #portfolio .portfolio_cards .portfolio_card .portfolio_card_link {
  grid-area: link;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
main #contact > p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}
main #contact .container_cv {
  display: grid;
  justify-content: center;
}
main #contact .container_cv p {
  margin: 0.25rem;
}
main #contact .container_cv > div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
main #contact .container_cv > div button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: #2d3134;
  color: #e2e6eb;
  border: none;
  border-radius: 7px;
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
main #contact .container_cv > div button:hover, main #contact .container_cv > div button:focus {
  filter: brightness(0.8);
  outline: none;
}
main #contact .container_cv > div button img {
  width: 1.25em;
}
main #contact .contact_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
main #contact .contact_icons a {
  height: 2.5rem;
  width: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
}
main #contact .contact_icons a#gmail {
  background-image: url("../img/icon-gmail.svg");
}
main #contact .contact_icons a#github {
  background-image: url("../img/icon-github.svg");
  background-size: cover;
}
main #contact .contact_icons a#instagram {
  background-image: url("../img/icon-instagram.svg");
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: clamp(0.75rem, 3vw, 1rem);
  background-color: #2d3134;
}
footer > p {
  margin: 0;
}/*# sourceMappingURL=main.css.map */