@charset "utf-8";

:root {
    --bg-primary: #171d20;
    --bg-secondary: #363a42;
    --font-color: #e2e6eb;
    --nav-height: 3rem;
    --border-radius: 7px;
    --anim-duration: 0.25s;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #888888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    display: grid;
    gap: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: var(--bg-primary);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    scroll-padding-top: calc(var(--nav-height) + 3rem);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a:link,
a:active,
a:visited {
    position: relative;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    inset: auto auto 0 0;
    background: var(--font-color);
    visibility: hidden;
    border-radius: var(--border-radius);
    transform: scaleX(0);
    transition: var(--anim-duration) linear;
}

a:hover,
a:focus {
    outline: none;
}

a:hover:before,
a:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

button {
    background-color: var(--bg-secondary);
    color: var(--font-color);
    border: 2px solid var(--font-color);
    border-radius: var(--border-radius);
    padding: 0.5em;
    cursor: pointer;
    transition: var(--anim-duration) ease-in-out;
}

button:hover,
button:focus {
    filter: brightness(0.8);
    outline: none;
}

nav {
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-secondary);
    font-size: clamp(0.75rem, 3vw, 1.5rem);
    padding: 0.5rem 1em;
}

nav > div {
    display: flex;
    gap: 1em;
}

.btn_cv_download {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: bold;
}

.btn_cv_download img {
    width: 1.25em;
}

main {
    padding: 0 1.5rem;
    display: grid;
    gap: 4rem;
    justify-content: center;
}

h2 {
    font-size: clamp(1.2rem, 3vw, 2rem);
    margin: 0.5em;
    text-align: center;
    font-weight: 800;
}

#about > p {
    text-align: center;
}

.portfolio_cards {
    display: grid;
    gap: 2rem 3rem;
    grid-template-columns: repeat(2, 1fr);
}

.portfolio_card {
    display: grid;
    grid-template-areas: "header header" "desc icon" "link link";
    gap: 0.75rem 2rem;
    padding: 0.75rem;
    background-color: var(--bg-secondary);
    border: 2px solid var(--font-color);
    border-radius: var(--border-radius);
}

.portfolio_card_header {
    grid-area: header;
    margin: 0;
    height: fit-content;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--color-secondary-light);
}

.portfolio_card_desc {
    grid-area: desc;
    margin: 0;
    font-style: italic;
}

.portfolio_card_icon {
    --padding: 5px;
    grid-area: icon;
    height: calc(3em + var(--padding));
    width: calc(3em + var(--padding));
    padding: var(--padding);
    margin-left: auto;
    border: 2px solid var(--font-color);
    border-radius: 50%;
}

.portfolio_card_icon > img {
    width: 100%;
}

.portfolio_card_link {
    grid-area: link;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.portfolio_card_link::after {
    content: "";
    display: inline-block;
    background-image: url("./img/icon-external-link.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.75em;
    height: 0.75em;
}

.contact_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact_icon {
    height: 2.5rem;
    width: 2.5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: clamp(0.75rem, 3vw, 1rem);
    background-color: var(--bg-secondary);
}

footer > p {
    margin: 0;
}

@media (width <= 900px) {
    .portfolio_cards {
        grid-template-columns: 1fr;
    }
}

@media (width <= 375px) {
    nav {
        justify-content: space-evenly;
    }

    .portfolio_cards {
        gap: 0.75rem;
    }
}
