<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Petr Chalupa" />
        <meta name="description" content="Petr Chalupa – Software & Hardware Developer. Explore my projects in software development and hardware engineering." />
        <meta name="google-site-verification" content="O2Tsm4IlTxI72PY4cIO5e8KD5w8GzD_WWVllyDn6a_g" />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://petr-chalupa.github.io" />
        <meta property="og:title" content="Petr Chalupa | SW & HW Developer" />
        <meta property="og:description" content="Petr Chalupa – Software & Hardware Developer. Explore my projects in software development and hardware engineering." />
        <meta property="og:image" content="https://petr-chalupa.github.io/img/favicon.svg" /> 

        <title>Petr Chalupa | SW & HW Developer</title>
        <link type="image/svg" rel="icon" href="./img/favicon.svg" />

        <link rel="stylesheet" type="text/css" href="./main.css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="#portfolio" class="nav_link">PORTFOLIO</a>
                <a href="#contact" class="nav_link">CONTACT</a>
                <a href="#tech" class="nav_link">TECHNOLOGIES</a>
            </nav>
        </header>

        <main>
            <section id="me">
                <h1 style="display: none">Petr Chalupa - SW & HW developer</h1>
                <h2>Me</h2>
                <p>Based in Prague, Czech Republic; interested in both software & hardware; open for collaboration</p>
            </section>

            <section id="portfolio">
                <h2>Portfolio</h2>

                <h3>Professional</h3>
                <div class="portfolio_cards">
                    {% for project in data.portfolio.professional %}
                        {% if project.display !== false %}
                            <article class="portfolio_card">
                                <h5 class="portfolio_card_header">{{ project.title }}</h5>
                                <div class="portfolio_card_icon {% if project.lightIcon %}light{% endif %}">
                                    <img alt="{{ project.title }} icon" src="img/{{ project.icon }}" />
                                </div>
                                <p class="portfolio_card_desc">{{ project.desc }}</p>
                                <ul class="portfolio_card_tags">
                                    {% for tag in project.tags %}
                                        <li>{{ tag }}</li>
                                    {% endfor %}
                                </ul>
                                <a href="{{ project.link }}" class="portfolio_card_link">{{ project.link | domain }}</a>
                            </article>
                        {% endif %}
                    {% endfor %}
                </div>

                <h3>Personal</h3>
                <div class="portfolio_cards">
                    {% for project in data.portfolio.personal %}
                        {% if project.display !== false %}
                            <article class="portfolio_card">
                                <h5 class="portfolio_card_header">{{ project.title }}</h5>
                                <div class="portfolio_card_icon {% if project.lightIcon %}light{% endif %}">
                                    <img alt="{{ project.title }} icon" src="img/{{ project.icon }}" />
                                </div>
                                <p class="portfolio_card_desc">{{ project.desc }}</p>
                                <ul class="portfolio_card_tags">
                                    {% for tag in project.tags %}
                                        <li>{{ tag }}</li>
                                    {% endfor %}
                                </ul>
                                <a href="{{ project.link }}" class="portfolio_card_link">{{ project.link | domain }}</a>
                            </article>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

            <section id="contact">
                <h2>Contact</h2>
                <div class="container">
                    <div class="contact_icons">
                        <a href="https://github.com/Petr-Chalupa" rel="noopener" target="_blank" id="github"></a>
                        <a href="mailto:chalupapetr77@gmail.com" rel="noopener" target="_blank" id="gmail"></a>
                    </div>
                    <div class="cv">
                        <span>Download CV</span>
                        <a href="./cv.pdf" target="_blank" class="cv_btn">PDF</a>
                    </div>
                </div>
            </section>

            <section id="tech">
                <h2>Technologies</h2>
                <div class="tech-category">
                    <h3>Software</h3>
                    <ul class="container">
                        {% for tech in data.technologies.software %}
                            <li>{{ tech }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tech-category">
                    <h3>Hardware</h3>
                    <ul class="container">
                        {% for tech in data.technologies.hardware %}
                            <li>{{ tech }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </main>
    </body>
</html>
