:root {
    /* COLOR VARIABLES */
    --primary-color: #1a1a1a;
    --primary-color-opacity: #3236439b;
    --secondary-color: #111111;
    --ternary-color: #40c4ff;
    --font-color: #e0f7fa;
    --font-color-secondary: #a0a0a0;

    /* OTHER VARIABLES */
    --border-radius: 7px;
    --anim-duration: 0.25s;
    --nav-height: 3rem;
}

*,
:after,
::before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--font-color);
}

::-webkit-scrollbar-thumb:hover {
    background: color-mix(in srgb, var(--primary-color), white 10%);
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    font-family: "Fira Code", "Courier New", monospace;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    position: relative;
    color: var(--ternary-color);
    text-decoration: none;
    word-break: break-all;
    cursor: pointer;
    transition: text-shadow var(--anim-duration) linear;

    &:hover {
        text-shadow: 0 0 8px var(--ternary-color);
    }
}

nav {
    height: var(--nav-height);
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 10;
    background-color: var(--primary-color);
    font-size: clamp(1rem, 3vw, 1.75rem);
    padding: 0.5rem 1em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

    a {
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            inset: auto auto 0 0;
            background: currentColor;
            visibility: hidden;
            border-radius: var(--border-radius);
            transform: scaleX(0);
            transition: var(--anim-duration) linear;
        }

        &:hover,
        &:focus {
            outline: none;
        }

        &:hover:before,
        &:focus:before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

main {
    margin-top: var(--nav-height);

    h2 {
        font-size: clamp(1.2rem, 3vw, 2rem);
        margin: 0 0 0.5em 0;
        text-align: center;
        font-weight: 800;
    }

    h3 {
        font-size: clamp(1.15rem, 3vw, 1.75rem);
        font-weight: 700;
    }

    h5 {
        font-size: clamp(1.1rem, 3vw, 1.5rem);
        font-weight: 600;
        letter-spacing: 0.05em;
    }

    section {
        scroll-margin-top: calc(var(--nav-height));
        padding: 2.5rem 10vw;
    }

    section:nth-child(odd) {
        background-color: var(--secondary-color);
    }

    #me {
        text-align: center;

        >p {
            font-weight: bold;
        }
    }

    #contact {
        .container {
            >p {
                text-align: center;
                font-size: clamp(1rem, 2vw, 1.25rem);
                font-weight: bold;
            }

            .contact_icons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                margin-top: 1rem;

                a {
                    height: 2.5rem;
                    width: 2.5rem;
                    background-position: center;
                    background-repeat: no-repeat;

                    &::before {
                        display: none;
                    }

                    &:focus,
                    &:hover {
                        filter: invert(0.25);
                    }

                    &#gmail {
                        background-image: url("./img/icon-gmail.svg");
                    }

                    &#github {
                        background-image: url("./img/icon-github.svg");
                        background-size: cover;
                    }
                }
            }
        }
    }

    #portfolio {
        .portfolio_cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1.25rem;

            .portfolio_card {
                flex: 1;
                min-width: 20rem;
                display: grid;
                grid-template-columns: 1fr auto;
                gap: 0.75rem 1vw;
                padding: 0.75rem;
                background-color: #111;
                border-radius: var(--border-radius);
                transition: all 0.3s ease;

                &:hover {
                    box-shadow: 0 0 10px var(--ternary-color);

                    .portfolio_card_header {
                        color: var(--ternary-color);
                    }
                }

                .portfolio_card_header {
                    align-self: center;
                    margin: 0;
                    font-weight: bold;
                }

                .portfolio_card_desc {
                    grid-column: 1/-1;
                    align-self: center;
                    max-height: 10rem;
                    min-width: 5rem;
                    margin: 0;
                    font-style: italic;
                    overflow-x: hidden;

                    &::-webkit-scrollbar {
                        width: 3px;
                    }
                }

                .portfolio_card_icon {
                    --padding: 5px;
                    align-self: start;
                    grid-column: 2;
                    height: calc(2em + var(--padding));
                    width: calc(2em + var(--padding));
                    padding: var(--padding);
                    margin-left: auto;
                    border-radius: 50%;

                    &.no-padding {
                        padding: 0;
                    }

                    &.light {
                        background-color: var(--font-color);
                    }

                    img {
                        width: 100%;
                        aspect-ratio: 1;
                    }
                }

                .portfolio_card_tags {
                    grid-column: 1 / -1;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 0.25rem;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    >li {
                        font-size: 0.75rem;
                        opacity: 0.85;
                        border: 1px solid var(--ternary-color);
                        border-radius: var(--border-radius);
                        padding: 0.25rem 0.6rem;
                        white-space: nowrap;
                        user-select: none;
                        font-weight: bold;
                        transition: var(--anim-duration) background-color ease-in-out;
                    }
                }

                .portfolio_card_link {
                    grid-column: 1/-1;
                    align-self: center;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                }
            }
        }
    }

    #tech {
        text-align: center;
        font-size: larger;

        h3 {
            margin: 0;
        }

        .container {
            display: flex;
            place-content: center;
            flex-wrap: wrap;
            gap: 0.5rem;
            list-style-type: none;
            padding: 0;
            margin: 0.25rem 0 1rem 0;

            >li {
                border: 1px solid var(--ternary-color);
                border-radius: var(--border-radius);
                padding: 0.75rem 1rem;
                white-space: nowrap;
                user-select: none;
                font-weight: bold;
                transition: var(--anim-duration) background-color ease-in-out;

                &:hover {
                    background-color: var(--ternary-color);
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    nav {
        justify-content: center;
    }

    main #portfolio .portfolio_cards {
        gap: 0.75rem
    }
}

@media screen and (max-width: 480px) {
    nav {
        gap: 0.5rem;
    }

    main section {
        padding: 1rem;
    }

    main #portfolio .portfolio_cards {
        gap: 0.5rem;
    }
}